.user-list {
    width: 100%;
    padding: 0 5px;

    &__status-message {
        position: absolute;
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 10px;
    }

    &__load-wrap{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 5px;
        right: 5px;
        gap: 7px;
    }
}